	<div class="container-fluid pt-5">
		<!--title-->
		<div class="row mb-3">
			<div class="page-title">
				Quản lý bảng quảng cáo 
			</div>
		</div>
		
		<!--button bar-->
		<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				{{#if laQuan}}
				<div class="me-3">
					<form method = "get" action ="/canbo/qlbangqc">
						<div class="dropdown"> 
							<button class="btn btn-primary dropdown-toggle"
									type="button" 
									id="multiSelectDropdown"
									data-bs-toggle="dropdown" 
									aria-expanded="false"> 
								Chọn Phường 
							</button> 
							<ul class="dropdown-menu" 
								aria-labelledby="multiSelectDropdown"> 
								{{#each phuongs}}
								<li> 
									<label> 
										<input type="checkbox" 
											value="{{id}}" name="phuong" {{#if (isInArray id (json ../checkedPhuongs))}}checked{{/if}}> 
										{{Ten}} 
									</label> 
								</li> 
								{{/each}}
								<button type="submit" class="btn btn-sm btn-primary float-end">Áp dụng</button>
							</ul> 
						</div> 
					</form>
				</div>
				{{/if}}
				<div class="me-3">
					<a href="/canbo/qlbangqc" type="button" class="btn btn-white border">View all</a>
				</div>
				<div class="me-3">
					<form method = "get" action ="/canbo/qlbangqc">
						<div class="input-group">
							<input type="text" name="search" class="form-control" placeholder="Tìm kiếm" aria-label="search">
							<button type="submit" class="btn border"><i class="bi bi-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--card set-->
		<div class="row">
			{{#each bangquangcaos}}
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="{{DiaChiAnh}}" class="img-fluid rounded-start h-100" alt = "{{DiemDat.DiaChi}}">
						</div>
						<div class="col-md-8">
							<div class="card-body ms-2">
								<div>
									<p class="card-title">{{LoaiBangQuangCao.Ten}}</p>
									<p class="card-text">Địa chỉ: <small class="text-muted">{{DiemDat.DiaChi}}</small></p>
									<p class="card-text">Khu vực: <small class="text-muted">{{DiemDat.KhuVuc}}</small></p>
									<p class="card-text">Kích thước: <small class="text-muted">{{KichThuoc}}</small></p>
									<p class="card-text">Ngày hết hạn hợp đồng: <small class="text-muted">{{showDate NgayHetHan}}</small></p>
								</div>
								<div class="text-end">
										<div class="btn-group" role="group">
											<i role="button" class="bi bi-pen-fill me-3" data-bs-toggle="modal"
												data-bs-target="#editBangQCModal" onclick="showEditBangQCModal(this)" 
												data-id="{{id}}" data-diemdat="{{DiemDatId}}" data-ploai="{{LoaiBangQuangCaoId}}" data-kichthuoc="{{KichThuoc}}"
												data-ngayhethan="{{showDate NgayHetHan}}"></i>
											<i role="button" class="bi bi-send-plus-fill" data-bs-toggle="modal"
												data-bs-target="#taoCapPhepModal" onclick="showCapPhepModal(this)" 
												data-bangqcid="{{id}}" data-diemdatid="{{DiemDatId}}" data-diemdat="{{DiemDat.DiaChi}}" data-bangqc="{{LoaiBangQuangCao.Ten}} {{KichThuoc}}"></i>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>

	</div>

  <!--Modal chinh sua-->
  <div class="modal fade" id="editBangQCModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <form action="/canbo/qlbangqc" id="editBangQCForm" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Yêu cầu chỉnh sửa thông tin điểm đặt quảng cáo
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          	<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<p class="fw-bold m-0">Thông tin chỉnh sửa</p>
					<div class="row">
						<div>
							<label for="diemdatEdit" class="form-label">Điểm đặt</label>
							<select id="diemdatEdit" name="diemdat" class="form-control form-select">
								{{#each diemdats}}
            						<option value="{{id}}">{{DiaChi}}</option>
								{{/each}}
        					</select>
							</datalist>
						</div>
					</div>
					<div class="row">
							<div class="col-6">
								<div>
									<label for="ploaiEdit" class="form-label">Loại bảng quảng cáo</label>
									<select id="ploaiEdit" name="ploai" class="form-control form-select">
										{{#each loaibangquangcaos}}
            								<option value="{{id}}">{{Ten}}</option>
										{{/each}}
        							</select>
								</div>
							</div>
							<div class="col-6">
								<div>
									<label for="kichthuocEdit" class="form-label">Kích thước</label>
									<input type="text" class="form-control" id="kichthuocEdit" name="kichthuoc" placeholder="1mx2m">
								</div>
							</div>
					</div>
				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Thời điểm chỉnh sửa</p>
					<div class="col-md-6">
						<label for="startdate" class="form-label">Từ ngày</label>
						<input type="date" class="form-control" name="ngaychinhsua" placeholder="dd/mm/yyyy" required>
					</div>

				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Lý do chỉnh sửa</p>
					<div>
					  <textarea class="form-control" name="lydo" style="height: 100px" required></textarea>
					</div>
				</div>
  			</div>
			</div>
          <div class="modal-footer">
            <input type="hidden" name="id" id="id" value="" />
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

	<!--Modal tạo cấp phép-->
<div class="modal fade" id="taoCapPhepModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	<form action="/canbo/taocappheptubangqc" id="taoCapPhepForm" method="POST" enctype="multipart/form-data">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="userModalTitle">
				Tạo cấp phép
			</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<p class="fw-bold m-0">Thông tin quảng cáo</p>
						<div class="row">
							<div>
								<label for="diemdat" class="form-label">Điểm đặt</label>
								<input type="text" id="diemdat" name="diemdat" class="form-control" disabled> 
			
							</div>
						</div>
						<div class="row">
							<div>
								<label for="bangqc" class="form-label">Bảng quảng cáo</label>
								<input type="text" id="bangqc" name="bangqc" class="form-control" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="hinhanh" class="form-label">Hình ảnh minh họa</label>
								<img class="d-block w-100" id="preview">
    							<input type="file" accept="image/*" class="form-control form-control-sm" id="hinhanh" name="hinhanh" onchange="(previewFile(event))">
							</div>
							<div class="col-6">
								<label for="noidung" class="form-label">Nội dung quảng cáo</label>
								<textarea class="form-control" name="noidung" id="noidung" rows="4"></textarea>
							</div>
						</div>
					</div>
					<div class="col">
						<p class="fw-bold m-0">Thông tin công ty</p>
						<div class="row">
							<div>
								<label for="tencongty" class="form-label">Tên công ty</label>
								<input type="text" class="form-control" id="tencongty" name="tencongty" placeholder="">
							</div>
						</div>
						<div class="row">
							<div>
								<label for="diachicongty" class="form-label">Địa chỉ công ty</label>
								<input type="text" class="form-control" id="diachicongty" name="diachicongty" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-7">
								<label for="email" class="form-label">Email</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="">
							</div>
							<div class="col-5">
								<label for="dienthoai" class="form-label">Điện thoại</label>
								<input type="text" class="form-control" id="dienthoai" name="dienthoai" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="ngaybatdau" class="form-label">Từ ngày</label>
								<input type="date" class="form-control" name="ngaybatdau" placeholder="dd/mm/yyyy" required>
							</div>
							<div class="col-6">
								<label for="ngayketthuc" class="form-label">Đến ngày</label>
								<input type="date" class="form-control" name="ngayketthuc" placeholder="dd/mm/yyyy" required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="bangqcid" id="bangqcid" value="" />
			<input type="hidden" name="diemdatid" id="diemdatid" value="" />
			<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
			Hủy
			</button>
			<button type="submit" class="btn btn-primary">
			Gửi
			</button>
		</div>
		</div>
	</form>
	</div>
</div>

<script>
    function showEditBangQCModal(btn){
		document.querySelector("#id").value = btn.dataset.id;
		document.querySelector("#diemdatEdit").value = btn.dataset.diemdat;
		document.querySelector("#ploaiEdit").value = btn.dataset.ploai;
		document.querySelector("#kichthuocEdit").value = btn.dataset.kichthuoc;
		let dateFromData = btn.dataset.ngayhethan; 
		let dateParts = dateFromData.replace(',','').split(' ');
		let day = dateParts[0].padStart(2, '0');
		let month = dateParts[2].padStart(2, '0');
		let year = dateParts[3];

		let formattedDate = `${year}-${month}-${day}`;

		document.querySelector("#ngayhethanEdit").value = formattedDate;
	}

	function showCapPhepModal(btn){
		document.querySelector("#bangqcid").value = btn.dataset.bangqcid;
		document.querySelector("#diemdatid").value = btn.dataset.diemdatid;
		document.querySelector("#diemdat").value = btn.dataset.diemdat;
		document.querySelector("#bangqc").value = btn.dataset.bangqc;
	}
	var previewFile = function (event) {
		var input = event.target;

    	var reader = new FileReader();
    	reader.onload = function(){
			var dataURL = reader.result;
			var output = document.getElementById('preview');
			output.src = dataURL;
    	};
    	reader.readAsDataURL(input.files[0]);
	}

    const chBoxes = document.querySelectorAll('.dropdown-menu input[type="checkbox"]'); 
    const dpBtn = document.getElementById('multiSelectDropdown'); 
    let mySelectedListItems = [];
  
    function handleCB() { 
        mySelectedListItems = []; 
        let mySelectedListItemsText = ''; 
  
        chBoxes.forEach((checkbox) => { 
            if (checkbox.checked) { 
                mySelectedListItems.push(checkbox.value); 
                let labelText = checkbox.parentNode.textContent.trim();
            	mySelectedListItemsText += labelText + ', '; 
            } 
        }); 
  
		if (mySelectedListItems.length > 3) {
			dpBtn.innerText = 'Đã chọn (' + mySelectedListItems.length + ')';
		} else {
			dpBtn.innerText = 
			mySelectedListItems.length > 0 
			? mySelectedListItemsText.slice(0, -2) : 'Chọn Phường'; 
		} 
	} 
  
	chBoxes.forEach((checkbox) => { 
		checkbox.addEventListener('change', handleCB); 
	}); 
	handleCB();
</script>