  <main>
	<div class="container-fluid pt-5">
		<!--title-->
		<div class="row mb-3">
			<div class="page-title">
				Quản lý điểm đặt quảng cáo
			</div>
		</div>
		
		<!--button bar-->
		<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				{{#if laQuan}}
				<div class="me-3">
					<form method = "get" action ="/canbo/qldiemdat">
						<div class="dropdown"> 
							<button class="btn btn-primary dropdown-toggle"
									type="button" 
									id="multiSelectDropdown"
									data-bs-toggle="dropdown" 
									aria-expanded="false"> 
								Chọn Phường 
							</button> 
							<ul class="dropdown-menu" 
								aria-labelledby="multiSelectDropdown"> 
								{{#each phuongs}}
								<li> 
									<label> 
										<input type="checkbox" 
											value="{{id}}" name="phuong" {{#if (isInArray id (json ../checkedPhuongs))}}checked{{/if}}> 
										{{Ten}} 
									</label> 
								</li> 
								{{/each}}
								<button type="submit" class="btn btn-sm btn-primary float-end">Áp dụng</button>
							</ul> 
						</div> 
					</form>
				</div>
				{{/if}}
				<div class="me-3">
					<a href="/canbo/qldiemdat" type="button" class="btn btn-white border">View all</a>
				</div>
				<div class="me-3">
					<form method = "get" action ="/canbo/qldiemdat">
						<div class="input-group">
							<input type="text" name="search" class="form-control" placeholder="Tìm kiếm" aria-label="search">
							<button type="submit" class="btn border"><i class="bi bi-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!--card set-->
		<div class="row">
				{{#each diemdats}}
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{toUrl DiaChiAnh}}" class="img-fluid rounded-start h-100" alt = "{{DiaChi}}">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="pb-1">
										<span class="badge rounded-pill 
										{{#eq HinhThucDiemDatId 1}} bg-warning
										{{/eq}}
										{{#eq HinhThucDiemDatId 2}} bg-info
										{{/eq}}
										{{#eq HinhThucDiemDatId 3}} bg-danger
										{{/eq}}">{{HinhThucDiemDat.Ten}}</span>
									</div>
									<div class="pb-1 ms-2">
										<p class="card-text">Địa chỉ: <small class="text-muted">{{DiaChi}}</small></p>
										<p class="card-text">Khu vực: <small class="text-muted">{{KhuVuc}}</small></p>
										<p class="card-text">Phân loại: <small class="text-muted">{{LoaiDiemDat.Ten}}</small></p>
									</div>
									<div>
										{{#if QuyHoach}}<span class="badge bg-success">ĐÃ QUY HOẠCH</span>
										{{else}}<span class="badge bg-secondary">CHƯA QUY HOẠCH</span>
										{{/if}}
									</div>
									<div class="text-end">
										<div class="btn-group" role="group">
											<a href="/canbo/qlbangqc?diemdat={{id}}" type="button" class="text-dark"><i role="button" class="bi bi-info-circle-fill me-3"></i></a>
											<i role="button" class="bi bi-pen-fill me-3" data-bs-toggle="modal"
												data-bs-target="#editDiemDatModal" onclick="showEditDiemDatModal(this)" 
												data-id="{{id}}" data-diachi="{{DiaChi}}" data-ploai="{{LoaiDiemDatId}}" data-hthuc="{{HinhThucDiemDatId}}"
												data-khuvuc="{{KhuVuc}}" data-quyhoach="{{QuyHoach}}"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
		</div>
	
	</div>

  </main>

  <!--Modal chinh sua-->
  <div class="modal fade" id="editDiemDatModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <form action="/canbo/qldiemdat" id="editDiemDatForm" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Yêu cầu chỉnh sửa thông tin điểm đặt quảng cáo
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          	<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<p class="fw-bold m-0">Thông tin chỉnh sửa</p>
					<div class="row">
						<div>
							<label for="diachiEdit" class="form-label">Địa chỉ</label>
							<input type="text" class="form-control" id="diachiEdit" name="diachi" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
						<div>
							<label for="khuvucEdit" class="form-label">Khu vực</label>
							<input type="text" class="form-control" id="khuvucEdit" name="khuvuc" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div>
								<label for="ploaiEdit" class="form-label">Loại vị trí</label>
								<select id="ploaiEdit" name="ploai" class="form-control form-select">
									{{#each loaidiemdats}}
										<option value="{{id}}">{{Ten}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-6">
							<div>
								<label for="hthucEdit" class="form-label">Hình thức quảng cáo</label>
								<select id="hthucEdit" name="hthuc" class="form-control form-select">
									{{#each hinhthucdiemdats}}
										<option value="{{id}}">{{Ten}}</option>
									{{/each}}
								</select>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="form-check form-check-inline">
                  			<input class="form-check-input" type="checkbox" id="quyhoachEdit" name="quyhoach" value="1">
                 			<label class="form-check-label" for="quyhoachEdit">Quy hoạch</label>
                		</div>
					</div>
				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Thời điểm chỉnh sửa</p>
					<div class="col-md-6">
						<label for="startdate" class="form-label">Từ ngày</label>
						<input type="datetime-local" class="form-control" name="ngaychinhsua" placeholder="dd/mm/yyyy" required>
					</div>

				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Lý do chỉnh sửa</p>
					<div>
					  <textarea class="form-control" name="lydo" style="height: 100px" required></textarea>
					</div>
				</div>
				
  			</div>
			</div>
          <div class="modal-footer">
            <input type="hidden" name="id" id="id" value="" />
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
  
    function showEditDiemDatModal(btn){
	document.querySelector("#id").value = btn.dataset.id;
	document.querySelector("#diachiEdit").value = btn.dataset.diachi;
	document.querySelector("#khuvucEdit").value = btn.dataset.khuvuc;
	document.querySelector("#ploaiEdit").value = btn.dataset.ploai;
	document.querySelector("#hthucEdit").value = btn.dataset.hthuc;
	document.querySelector("#quyhoachEdit").checked = btn.dataset.quyhoach === "true";
	}
    
	const chBoxes = document.querySelectorAll('.dropdown-menu input[type="checkbox"]'); 
    const dpBtn = document.getElementById('multiSelectDropdown'); 
    let mySelectedListItems = [];
  
    function handleCB() { 
        mySelectedListItems = []; 
        let mySelectedListItemsText = ''; 
  
        chBoxes.forEach((checkbox) => { 
            if (checkbox.checked) { 
                mySelectedListItems.push(checkbox.value); 
                let labelText = checkbox.parentNode.textContent.trim();
            	mySelectedListItemsText += labelText + ', '; 
            } 
        }); 
  
		if (mySelectedListItems.length > 3) {
			dpBtn.innerText = 'Đã chọn (' + mySelectedListItems.length + ')';
		} else {
			dpBtn.innerText = mySelectedListItems.length > 0 ? mySelectedListItemsText.slice(0, -2) : 'Chọn Phường'; 
		} 
	} 
  
	chBoxes.forEach((checkbox) => { 
		checkbox.addEventListener('change', handleCB); 
	}); 
	handleCB();

</script>