<!--container-->
<div class="container pt-5">
    <div class="row">
        <div class="col-md-12 p-3">
            <h5 class="fw-bold bi bi-folder2 fs-4 ps-5">  Các báo cáo đã gửi về sở VH-TT</h5>
        </div>

        <div class="row mx-1 table-responsive">
            <table class="table align-middle table-striped table-bordered table-hover">
                <colgroup>
                    <col style="width:3%">
                    <col style="width:7%">
                    <col style="width:20%">
                    <col style="width:40%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:5%">
                </colgroup>
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Thông tin người gửi</th>
                    <th scope="col">Địa điểm</th>
                    <th scope="col">Phân loại</th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each BaoCaoDaGuis}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{showDate date}}</td>
                        <td>
                            <i class="bi bi-person-fill"></i>   {{HoTen}}
                            <br>
                            <i class="bi bi-envelope-fill"></i>   {{Email}}
                            <br>
                            <i class="bi bi-telephone-fill"></i>   {{DienThoai}}
                        </td>
                        <td>
                            {{#if laDiemDat}}
                                <p class="fw-bold m-0 p-0">Điểm đặt: <small class="text-muted">{{TenDiemDat}}</small></p>
                            {{#unless laDiemDat}}
                                <p class="fw-bold m-0 p-0">Điểm đặt: <small class="text-muted">{{TenDiemDat}}</small></p>
                                <p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">{{TenBangQC}}</small></p>
                            {{/unless}}
                            {{else}}
                                <p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">{{DiaChi}}</small></p>
                            {{/if}} 
                        </td>
                        <td><span class="badge rounded-pill x
                        {{#eq HinhThucBaoCaoId '1'}} bg-danger
                        {{/eq}}
                        {{#eq HinhThucBaoCaoId '2'}} bg-info
                        {{/eq}}
                        {{#eq HinhThucBaoCaoId '3'}} bg-primary
                        {{/eq}}
                        {{#eq HinhThucBaoCaoId '4'}} bg-warning
                        {{/eq}}">{{HinhThucBaoCao}}</span></td>
                        <td>{{#if XuLy}}<span class="badge text-bg-success">Đã xử lý</span>
                        {{else}}<span class="badge text-bg-secondary">Đang xử lý</span>
                        {{/if}}</td>
                        <td>
                            <i role="button" class="bi bi-info-circle-fill me-3" data-bs-toggle="modal"
                                data-bs-target="#chitietbaocao" onclick="showchitietbaocao(this)" 
                                data-id="{{id}}" data-noidung="{{NoiDung}}">
                            </i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/container-->
<!--Modal chi tiết báo cáo-->
<div class="modal fade" id="chitietbaocao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết báo cáo</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row mt-2">
					<p class="fw-bold m-0">Nội dung báo cáo</p>
					<div class="overflow-auto" id="shownoidung">

					</div>
				</div>
			</div>
  		</div>
		<div class="modal-footer">
			<input type="hidden" name="id" id="id" value="" />
		</div>
	  </div>
    </div>
</div>

<script>
	function showchitietbaocao(btn){
		document.querySelector("#id").value = btn.dataset.id;
		document.querySelector("#shownoidung").innerHTML = `${btn.dataset.noidung}`;
	}
</script>