<div class="container-fluid pt-5">
	<!--title-->
	<div class="row mb-3">
		<div class="page-title">
			Phê duyệt cấp phép quảng cáo
		</div>
	</div>
	
	<!--button bar-->
	<!--
	<div class="row">
		<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
			<div class="me-3">
				<button type="button" class="btn btn-white border">View all</button>
			</div>
			<div class="input-group">
				<button type="button" class="btn border border-end-0"><i class="bi bi-search"></i></button>
				<input type="text" class="form-control border-start-0" placeholder="Tìm kiếm" aria-label="Username" aria-describedby="basic-addon1">
				</div>
		</div>
	</div>-->

	<!--card set-->
	<div class="row mx-5">	
		{{#each capphepquangcaos}}		
				<div class="card mb-3 h-auto" >
					<div class="row g-0">
						<div class="col-md-3">
							<img class="rounded-start img-fluid" src="{{toUrl DiaChiAnh}}" alt="">
						</div>
						<div class="col-md-9">
							<div class="card-body ms-2">
								<div class="row">
									<div class="col-6">
										<div>
											<p class="card-title">Thông tin quảng cáo</p>
											<p class="card-text">Điểm đặt: <small class="text-muted">{{DiemDat.DiaChi}}</small></p>
											<p class="card-text">Bảng quảng cáo: <small class="text-muted">{{LoaiBangQuangCao.Ten}} {{BangQuangCao.KichThuoc}}</small></p>
											<p class="card-text">Nội dung quảng cáo: <small class="text-muted">{{NoiDung}}</small></p>
											<p class="card-text">Ngày bắt đầu hợp đồng: <small class="text-muted">{{showDate NgayBatDau}}</small></p>
											<p class="card-text">Ngày kết thúc hợp đồng: <small class="text-muted">{{showDate NgayKetThuc}}</small></p>
										</div>
									</div>
									<div class="col-6">
										<div>
											<p class="card-title">Thông tin công ty</p>
											<p class="card-text">Tên công ty: <small class="text-muted">{{TenCongTy}}</small></p>
											<p class="card-text">Địa chỉ công ty: <small class="text-muted">{{DiaChiCongTy}}</small></p>
											<p class="card-text">Email: <small class="text-muted">{{Email}}</small></p>
											<p class="card-text">Điện thoại: <small class="text-muted">{{DienThoai}}</small></p>
											
										</div>
									</div>					
								</div>
								<div class="text-end">
									<div class="btn-group" role="group">
										<button class="btn btn-secondary indigo dongy-btn" data-id="{{id}}" data-bangqcid="{{BangQuangCaoId}}"
										data-ngayhethan="{{NgayKetThuc}}" data-diachianh="{{DiaChiAnh}}"><i class="bi bi-check-lg"></i> Đồng ý</button>
										<button class="btn btn-secondary border-indigo tuchoi-btn" data-id="{{id}}"><i class="bi bi-x"></i> Từ chối</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		{{/each}}
		
	</div>

</div>

<script>
	document.querySelectorAll('.dongy-btn').forEach((button) => {
		button.addEventListener('click', function() {
			var id = this.getAttribute('data-id');
			pheduyetCapPhep(id, true);
			var bangqcid = this.getAttribute('data-bangqcid');
			var ngayhethan = this.getAttribute('data-ngayhethan');
			var diachianh = this.getAttribute('data-diachianh');
			dongyCapPhep(bangqcid, ngayhethan, diachianh);
		});
	});

	document.querySelectorAll('.tuchoi-btn').forEach((button) => {
		button.addEventListener('click', function() {
			var id = this.getAttribute('data-id');
			pheduyetCapPhep(id, false);
		});
	});
	async function pheduyetCapPhep(id, tinhtrang) {
		let res = await fetch("/so/pheduyetcapphep", {
			method: 'PUT',
			headers:{
				"Content-Type":"application/json",
			},
			body: JSON.stringify({ tinhtrang: tinhtrang , id: id}),
			});
	
		location.reload();
	}
	async function dongyCapPhep(bangqcid, ngayhethan, diachianh) {
		
	let res = await fetch("/so/dongycapphep", {
	  method: 'PUT',
	  headers:{
		"Content-Type":"application/json",
	  },
	  body: JSON.stringify({ id: bangqcid , ngayhethan: ngayhethan, diachianh: diachianh}),
	});
  
	location.reload();
  }
</script>
