  <main>
	<div class="container-fluid pt-5">
		<!--title-->
		<div class="row mb-3">
			<div class="page-title">
				Quản lý điểm đặt quảng cáo
			</div>
		</div>
		
		<!--button bar-->
		<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				<div class="me-3">
					<button type="button" class="btn btn-secondary indigo" data-bs-toggle="modal" data-bs-target="#themDiemDatModal">
							<i class="bi bi-plus"></i> Thêm điểm đặt
					</button>
				</div>
				<div class="me-3">
					<button type="button" class="btn btn-white border">View all</button>
				</div>
				<div class="input-group">
					<button type="button" class="btn border border-end-0"><i class="bi bi-search"></i></button>
					<input type="text" class="form-control border-start-0" placeholder="Tìm kiếm" aria-label="Username" aria-describedby="basic-addon1">
				  </div>
			</div>
		</div>
		
		<!--card set-->
		<div class="row justify-content-center">
				{{#each diemdats}}
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{DiaChiAnh}}" class="img-fluid rounded-start h-100" alt = "{{DiaChi}}">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="pb-1">
										<span class="badge rounded-pill 
										{{#eq HinhThucDiemDatId 1}} bg-warning
										{{/eq}}
										{{#eq HinhThucDiemDatId 2}} bg-info
										{{/eq}}
										{{#eq HinhThucDiemDatId 3}} bg-danger
										{{/eq}}">{{HinhThucDiemDat.Ten}}</span>
									</div>
									<div class="pb-1 ms-2">
										<p class="card-text">Địa chỉ: <small class="text-muted">{{DiaChi}}</small></p>
										<p class="card-text">Khu vực: <small class="text-muted">{{KhuVuc}}</small></p>
										<p class="card-text">Phân loại: <small class="text-muted">{{LoaiDiemDat.Ten}}</small></p>
									</div>
									<div>
										{{#if QuyHoach}}<span class="badge bg-success">ĐÃ QUY HOẠCH</span>
										{{else}}<span class="badge bg-secondary">CHƯA QUY HOẠCH</span>
										{{/if}}
									</div>
									<div class="text-end">
										<div class="btn-group" role="group">
											<i role="button" class="bi bi-info-circle-fill detail-btn me-3" data-id="{{id}}"></i>
											<i role="button" class="bi bi-pen-fill me-3" data-bs-toggle="modal"
												data-bs-target="#editDiemDatModal" onclick="showEditDiemDatModal(this)" 
												data-id="{{id}}" data-diachi="{{DiaChi}}" data-ploai="{{LoaiDiemDatId}}" data-hthuc="{{HinhThucDiemDatId}}"
												data-khuvuc="{{KhuVuc}}" data-quyhoach="{{QuyHoach}}"></i>
											<i role="button" class="bi bi-trash delete-btn" data-id="{{id}}"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
		</div>
	
	</div>

  </main>

  <!--Modal chinh sua-->
  <div class="modal fade" id="editDiemDatModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="" id="editDiemDatForm" onsubmit="editDiemDat(event)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Chỉnh sửa thông tin điểm đặt quảng cáo
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          	<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<p class="fw-bold m-0">Thông tin chỉnh sửa</p>
					<div class="row">
						<div>
							<label for="diachiEdit" class="form-label">Địa chỉ</label>
							<input type="text" class="form-control" id="diachiEdit" name="diachi" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
						<div>
							<label for="khuvucEdit" class="form-label">Khu vực</label>
							<input type="text" class="form-control" id="khuvucEdit" name="khuvuc" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div>
									<label for="ploaiEdit" class="form-label">Loại vị trí</label>
									<select id="ploaiEdit" name="ploai" class="form-control form-select">
										{{#each loaidiemdats}}
            								<option value="{{id}}">{{Ten}}</option>
										{{/each}}
        							</select>
								</div>
							</div>
							<div class="row">
								<div>
									<label for="hthucEdit" class="form-label">Hình thức quảng cáo</label>
									<select id="hthucEdit" name="hthuc" class="form-control form-select">
										{{#each hinhthucdiemdats}}
            								<option value="{{id}}">{{Ten}}</option>
										{{/each}}
        							</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<label for="img">Hình ảnh</label>
								<img src="/img/1.png" class="img-fluid" alt="Hình ảnh">
								<div class="text-end pt-4">
									<button class="btn btn-primary btn-sm" >Sửa</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-check form-check-inline">
                  			<input class="form-check-input" type="checkbox" id="quyhoachEdit" name="quyhoach" value="1">
                 			<label class="form-check-label" for="quyhoachEdit">Quy hoạch</label>
                		</div>
					</div>
				</div>
				<!--<div class="row mt-2">
					<p class="fw-bold m-0">Thời điểm chỉnh sửa</p>
					<div class="col-md-6">
						<label for="startdate" class="form-label">Từ ngày</label>
						<input type="date" class="form-control" id="startdate" placeholder="dd/mm/yyyy">
					</div>
					<div class="col-md-6">
						<label for="enddate" class="form-label">Đến ngày</label>
						<input type="date" class="form-control" id="enddate" placeholder="dd/mm/yyyy">
					</div>
				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Lý do chỉnh sửa</p>
					<div>
					  <textarea class="form-control" name="" id="" style="height: 100px"></textarea>
					</div>
				</div>
				-->
  			</div>
			</div>
          <div class="modal-footer">
            <input type="hidden" name="id" id="id" value="" />
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!--Modal confirm xóa-->
<div class="modal fade" tabindex="-1" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa điểm đặt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chứ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" id="confirmButton">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!--Modal thêm điểm đặt-->
<div class="modal fade" id="themDiemDatModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<form action="/so/qldiemdat" id="themDiemDatForm" method="POST">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="userModalTitle">
				Thêm điểm đặt
			</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="row">
						<div>
							<label for="diachi" class="form-label">Địa chỉ</label>
							<input type="text" class="form-control" id="diachi" name="diachi" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
						<div>
							<label for="khuvuc" class="form-label">Khu vực</label>
							<input type="text" class="form-control" id="khuvuc" name="khuvuc" placeholder="227 Nguyễn Văn Cừ, phường 4, quận 5">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div>
									<label for="ploai" class="form-label">Loại vị trí</label>
									<select id="ploai" name="ploai" class="form-control form-select">
										{{#each loaidiemdats}}
											<option value="{{id}}">{{Ten}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="row">
								<div>
									<label for="hthuc" class="form-label">Hình thức quảng cáo</label>
									<select id="hthuc" name="hthuc" class="form-control form-select">
										{{#each hinhthucdiemdats}}
											<option value="{{id}}">{{Ten}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<label for="img">Hình ảnh</label>
								<img src="/img/1.png" class="img-fluid" alt="Hình ảnh">
								<div class="text-end pt-4">
									<button class="btn btn-primary btn-sm" >Sửa</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="quyhoach" name="quyhoach" value="1">
							<label class="form-check-label" for="quyhoachEdit">Quy hoạch</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
			Close
			</button>
			<button type="submit" class="btn btn-primary">
			Save
			</button>
		</div>
		</div>
	</form>
	</div>
</div>


  <script>
	async function editDiemDat(e) {
	e.preventDefault();
  
	const formData = new FormData(document.getElementById("editDiemDatForm"));
	let data = Object.fromEntries(formData.entries());
  
	let res = await fetch("/so/qldiemdat", {
	  method: 'PUT',
	  headers:{
		"Content-Type":"application/json",
	  },
	  body: JSON.stringify(data),
	});
  
	location.reload();
  }
  
	async function deleteDiemDat(id){
	let res= await fetch(`/so/qldiemdat/${id}`, {
	  method: "DELETE",
	});
	location.reload();
  }
    function showEditDiemDatModal(btn){
	document.querySelector("#id").value = btn.dataset.id;
	document.querySelector("#diachiEdit").value = btn.dataset.diachi;
	document.querySelector("#khuvucEdit").value = btn.dataset.khuvuc;
	document.querySelector("#ploaiEdit").value = btn.dataset.ploai;
	document.querySelector("#hthucEdit").value = btn.dataset.hthuc;
	document.querySelector("#quyhoachEdit").checked = btn.dataset.quyhoach === "true";
  }

  document.querySelectorAll(".delete-btn").forEach((btnConfirm) => {
    btnConfirm.addEventListener("click", (e) => {
        let id = e.target.dataset.id;

        // Show the modal
        var myModal = new bootstrap.Modal(document.getElementById('confirmModal'), {
            keyboard: false
        });
        myModal.show();

        // Add an event listener to the "Yes" button
        document.getElementById('confirmButton').addEventListener('click', function() {
            deleteDiemDat(id);
            myModal.hide();
        });
    });
});
</script>