  <main>
	<div class="container-fluid pt-5">
		<!--title-->
		<div class="row mb-3">
			<div class="page-title">
				Quản lý quận, phường
			</div>
		</div>
		
		<!--button bar-->
		<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				<div class="me-3">
					<button type="button" class="btn btn-secondary indigo" data-bs-toggle="modal" data-bs-target="#themQuanModal">
							<i class="bi bi-plus"></i> Thêm quận
					</button>
				</div>
			</div>
		</div>

		<!--card set-->
		<div class="row mx-3">
			<div class="accordion accordion-flush" id="accordionExample">
				{{#each quans}}
					<div class="accordion-item">
						<div class="d-flex justify-content-between">
							<h2 class="accordion-header" id="heading{{id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
									{{Ten}}
								</button>
							</h2>
							<div class="justify-content-end mt-3 me-3">
								<i role="button" class="bi bi-plus-square-fill me-3" data-bs-toggle="modal" data-bs-target="#themPhuongModal" onclick="showThemPhuongModal(this)"
								data-idquan="{{id}}" data-tenquan="{{Ten}}"></i>
								<i role="button" class="bi bi-pen-fill me-3" data-bs-toggle="modal" data-bs-target="#editQuanModal" onclick="showEditQuanModal(this)" 
								data-idquan="{{id}}" data-tenquan="{{Ten}}"></i>
								<i role="button" class="bi bi-trash-fill xoaQuan-btn" 
								data-idquan="{{id}}" data-tenquan="{{Ten}}"></i>
							</div>
						</div>
						<div id="collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="heading{{id}}" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul class="list-group">
								{{#each ../phuongs}}
									{{#eq QuanId ../id}}
										<li class="list-group-item">
										<div class="d-flex justify-content-between">
											{{../Ten}}
										<div class="justify-content-end me-3">
											<i role="button" class="bi bi-pen-fill me-3" data-bs-toggle="modal" data-bs-target="#editPhuongModal" onclick="showEditPhuongModal(this)"
											data-idphuong="{{../id}}" data-tenphuong="{{../Ten}}"></i>
											<i role="button" class="bi bi-trash-fill xoaPhuong-btn" 
											data-idphuong="{{../id}}" data-tenphuong="{{../Ten}}"></i>
										</div>
										</div>
										</li>
									{{/eq}}
								{{/each}}
								</ul>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>

	</div>

  </main>

 

<!--Modal confirm xóa quận-->
<div class="modal fade" tabindex="-1" id="xoaQuanModal">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
        <h5 class="modal-title">Xóa Quận </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirmXoaQuan">Bạn chắc muốn xóa Quận này chứ? Hành động này không thể hoàn tác.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" id="xoaQuanButton">Xóa</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="xoaPhuongModal">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
        <h5 class="modal-title">Xóa Phường</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirmXoaPhuong">Bạn chắc muốn xóa Phường này chứ? Hành động này không thể hoàn tác.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" id="xoaPhuongButton">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!--Modal thêm quận-->
<div class="modal fade" id="themQuanModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<form action="/so/themquan" id="themQuan" method="POST">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="userModalTitle">
				Thêm Quận
			</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div>
					<label for="tenquan" class="form-label">Tên Quận</label>
					<input type="text" class="form-control" id="tenquan" name="tenquan" placeholder="Quận 1">
				</div>
			</div>
		</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
			Hủy
			</button>
			<button type="submit" class="btn btn-primary">
			Lưu
			</button>
		</div>
		</div>
	</form>
	</div>
</div>

<!--Modal thêm phường từ quận -->
<div class="modal fade" id="themPhuongModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<form action="/so/themphuong" id="themPhuong" method="POST">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="themPhuongTitle">
				Thêm Phường
			</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div>
					<label for="tenphuong" class="form-label">Tên Phường</label>
					<input type="text" class="form-control" id="tenphuong" name="tenphuong" placeholder="Phường 1">
				</div>
			</div>
		</div>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="idquan" id="idquanAdd" value="" />
			<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
			Hủy
			</button>
			<button type="submit" class="btn btn-primary">
			Lưu
			</button>
		</div>
		</div>
	</form>
	</div>
</div>

 <!--Modal chỉnh quận-->
  <div class="modal fade" id="editQuanModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="" id="editQuanForm" onsubmit="editQuan(event)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Chỉnh sửa thông tin quận
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          	<div class="modal-body">
				<div class="container-fluid">
				<div class="row">
				<div>
					<label for="tenquanEdit" class="form-label">Tên Quận</label>
					<input type="text" class="form-control" id="tenquanEdit" name="tenquan" placeholder="Quận 1">
				</div>
				</div>
			</div>
			</div>
          <div class="modal-footer">
            <input type="hidden" name="idquan" id="idquanEdit" value="" />
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

<!--Modal chỉnh phường-->
  <div class="modal fade" id="editPhuongModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="" id="editPhuongForm" onsubmit="editPhuong(event)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Chỉnh sửa thông tin phường
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          	<div class="modal-body">
				<div class="container-fluid">
				<div class="row">
				<div>
					<label for="tenphuongEdit" class="form-label">Tên Phường</label>
					<input type="text" class="form-control" id="tenphuongEdit" name="tenphuong" placeholder="Phường 1">
				</div>
				</div>
			</div>
			</div>
          <div class="modal-footer">
            <input type="hidden" name="idphuong" id="idphuongEdit" value="" />
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

<script>
	async function editQuan(e) {
		e.preventDefault();
	
		const formData = new FormData(document.getElementById("editQuanForm"));
		let data = Object.fromEntries(formData.entries());
	
		let res = await fetch("/so/editQuan", {
		method: 'PUT',
		headers:{
			"Content-Type":"application/json",
		},
		body: JSON.stringify(data),
	});
  
		location.reload();
  	}

	async function editPhuong(e) {
		e.preventDefault();
	
		const formData = new FormData(document.getElementById("editPhuongForm"));
		let data = Object.fromEntries(formData.entries());
	
		let res = await fetch("/so/editPhuong", {
		method: 'PUT',
		headers:{
			"Content-Type":"application/json",
		},
		body: JSON.stringify(data),
	});
  
		location.reload();
  	}
  
	async function xoaQuan(id){
		let res= await fetch(`/so/xoaquan/${id}`, {
		method: "DELETE",
		});
		location.reload();
  	}
	async function xoaPhuong(id){
		let res= await fetch(`/so/xoaphuong/${id}`, {
		method: "DELETE",
		});
		location.reload();
  	}
    function showEditQuanModal(btn){
		document.querySelector("#idquanEdit").value = btn.dataset.idquan;
		document.querySelector("#tenquanEdit").value = btn.dataset.tenquan;
  	}
	function showEditPhuongModal(btn){
		document.querySelector("#idphuongEdit").value = btn.dataset.idphuong;
		console.log(btn.dataset.idphuong);
		document.querySelector("#tenphuongEdit").value = btn.dataset.tenphuong;
  	}
	function showThemPhuongModal(btn){
		document.querySelector("#themPhuongTitle").innerHTML = `Thêm Phường cho ${btn.dataset.tenquan}`;
		document.querySelector("#idquanAdd").value = btn.dataset.idquan;
 	 }

	document.querySelectorAll(".xoaQuan-btn").forEach((btnConfirm) => {
		btnConfirm.addEventListener("click", (e) => {
			let id = e.target.dataset.idquan;
			var myModal = new bootstrap.Modal(document.getElementById('xoaQuanModal'), {
				keyboard: false
			});
			document.querySelector("#confirmXoaQuan").innerHTML = `Bạn chắc muốn xóa ${e.target.dataset.tenquan} chứ? Hành động này không thể hoàn tác.`;
			myModal.show();
			document.getElementById('xoaQuanButton').addEventListener('click', function() {
				xoaQuan(id);
				myModal.hide();
			});
		});
	});

	document.querySelectorAll(".xoaPhuong-btn").forEach((btnConfirm) => {
		btnConfirm.addEventListener("click", (e) => {
			let id = e.target.dataset.idphuong;
			var myModal = new bootstrap.Modal(document.getElementById('xoaPhuongModal'), {
				keyboard: false
			});
			document.querySelector("#confirmXoaPhuong").innerHTML = `Bạn chắc muốn xóa ${e.target.dataset.tenphuong} chứ? Hành động này không thể hoàn tác.`;
			myModal.show();
			document.getElementById('xoaPhuongButton').addEventListener('click', function() {
				xoaPhuong(id);
				myModal.hide();
			});
		});
	});

</script>