
<div class="container-fluid pt-5">
	<!--title-->
	<div class="row mb-3">
		<div class="page-title">
			Thống kê báo cáo & cách thức xử lý
		</div>
	</div>

	<!--button bar-->
	<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				<div class="me-3">
					<div class="d-flex flex-row">
						<form method="get" action="/so/thongke" class="d-flex flex-row">
							<select id="quan" name="quan" class="form-control form-select me-3">
								<option value="#">Chọn Quận</option>
								{{#each quans}}
									<option value="{{id}}">{{Ten}}</option>
								{{/each}}
							</select>
							<select id="phuong" name="phuong" class="form-control form-select" disabled>
								<option value="#">Chọn Phường</option>
								{{#each phuongs}}
									<option data-value="{{QuanId}}" value="{{id}}">{{Ten}}</option>
								{{/each}}
							</select>
							<button type="submit" class="btn border"><i class="bi bi-search"></i></button>
						</form>
					</div>
				</div>
				<div class="me-3">
					<a href="/so/thongke" type="button" class="btn btn-white border">View all</a>
				</div>
			</div>
	</div>

	<!--table-->
	<div class="row mx-3 table-responsive">
		<table class="table align-middle table-striped table-bordered table-hover">
			<colgroup>
				<col style="width:3%">
				<col style="width:57%">
				<col style="width:10%">
				<col style="width:20%">
				<col style="width:5%">
			</colgroup>
			<thead>
				<tr>
				<th scope="col">STT</th>
				<th scope="col">Nơi báo cáo</th>
				<th scope="col">Phân loại</th>
				<th scope="col">Tình trạng</th>
				<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{{#each baocaos}}
				<tr>
					<th scope="row">{{inc @index}}</th>
					<td>
						{{#if laDiemDat}}
						<p class="fw-bold m-0 p-0">Điểm đặt: <small class="text-muted">{{DiemDat.DiaChi}}</small></p> 
						{{#unless laDiemDat}}<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">{{this.BangQuangCao.LoaiBangQuangCao.Ten}} {{BangQuangCao.KichThuoc}}</small></p> {{/unless}}
						{{else}} <p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">{{DiaChi}}</small></p>
						{{/if}}
					</td>
					<td><span class="badge rounded-pill 
					{{#eq HinhThucBaoCaoId 1}} bg-danger
					{{/eq}}
					{{#eq HinhThucBaoCaoId 2}} bg-info
					{{/eq}}
					{{#eq HinhThucBaoCaoId 3}} bg-primary
					{{/eq}}
					{{#eq HinhThucBaoCaoId 4}} bg-warning
					{{/eq}}">{{HinhThucBaoCao.Ten}}</span></td>
					<td>{{#if XuLy}}<span class="badge text-bg-success">Đã xử lý</span><span>  bởi {{TaiKhoan.HoTen}}</span>
					{{else}}<span class="badge text-bg-secondary">Đang xử lý</span>
					{{/if}}</td>
					<td>
						<i role="button" class="bi bi-info-circle-fill me-3" data-bs-toggle="modal"
							data-bs-target="#chitietbaocao" onclick="showchitietbaocao(this)" 
							data-id="{{id}}" data-noidung="{{NoiDung}}" data-cachthuc="{{HinhThucXuLy}}"></i>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

</div>
<!--Modal chi tiết báo cáo-->
<div class="modal fade" id="chitietbaocao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết báo cáo</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row mt-2">
					<p class="fw-bold m-0">Nội dung báo cáo</p>
					<div class="overflow-auto" id="shownoidung">
						
					</div>
				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Cách thức xử lý</p>
					<div id="cachthucxuly">
						
					</div>
				</div>
			</div>
  		</div>
		<div class="modal-footer">
			<input type="hidden" name="id" id="id" value="" />
		</div>
	  </div>
    </div>
</div>
<script>
	function showchitietbaocao(btn){
		document.querySelector("#id").value = btn.dataset.id;
		document.querySelector("#shownoidung").innerHTML = `${btn.dataset.noidung}`;
		console.log(btn.dataset.cachthuc);
		if (btn.dataset.cachthuc) {
			document.querySelector("#cachthucxuly").innerHTML = `${btn.dataset.cachthuc}`;
		}
		else {
			document.querySelector("#cachthucxuly").innerHTML = 'Báo cáo chưa được xử lý';
		}
	}
  
   	document.getElementById('quan').addEventListener('change', function() {
		var selectedQuan = this.value;
		var phuongSelect = document.getElementById('phuong');
		if (selectedQuan === "#") {
			phuongSelect.value = "#";
			phuongSelect.disabled = true;
			return;
		}
		phuongSelect.disabled = false;
		phuongSelect.value = "#";
		var phuongOptions = document.getElementById('phuong').options;

		for (var i = 0; i < phuongOptions.length; i++) {
			var option = phuongOptions[i];
			var optionDataValue = option.getAttribute('data-value');
			if (parseInt(optionDataValue) === parseInt(selectedQuan)) {
			option.style.display = '';
			} else {
			option.style.display = 'none';
			}
		}
	});
	
</script>