
<div class="container-fluid pt-5">
	<!--title-->
	<div class="row mb-3">
		<div class="page-title">
			Xử lý báo cáo của người dân
		</div>
	</div>

	<!--button bar-->
	<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				<div class="me-3">
					<form method = "get" action ="/canbo/xlbaocao">
						<div class="dropdown"> 
							<button class="btn btn-primary dropdown-toggle"
									type="button" 
									id="multiSelectDropdown"
									data-bs-toggle="dropdown" 
									aria-expanded="false"> 
								Chọn Phường 
							</button> 
							<ul class="dropdown-menu" 
								aria-labelledby="multiSelectDropdown"> 
								{{#each phuongs}}
								<li> 
									<label> 
										<input type="checkbox" 
											value="{{id}}" name="phuong" {{#if (isInArray id (json ../checkedPhuongs))}}checked{{/if}}> 
										{{Ten}} 
									</label> 
								</li> 
								{{/each}}
								<button type="submit" class="btn btn-sm btn-primary float-end">Áp dụng</button>
							</ul> 
						</div> 
					</form>
				</div>
				<div class="me-3">
					<a href="/canbo/xlbaocao" type="button" class="btn btn-white border">View all</a>
				</div>
				<div class="me-3">
					<form method = "get" action ="/canbo/xlbaocao">
						<div class="input-group">
							<input type="text" name="search" class="form-control" placeholder="Tìm kiếm" aria-label="search">
							<button type="submit" class="btn border"><i class="bi bi-search"></i></button>
						</div>
					</form>
				</div>
			</div>
	</div>

	<!--table-->
	<div class="row mx-1 table-responsive">
		<table class="table align-middle table-striped table-bordered table-hover">
			<colgroup>
				<col style="width:3%">
				<col style="width:7%">
				<col style="width:20%">
				<col style="width:40%">
				<col style="width:10%">
				<col style="width:10%">
				<col style="width:5%">
			</colgroup>
			<thead>
				<tr>
				<th scope="col">STT</th>
				<th scope="col">Thời gian</th>
				<th scope="col">Thông tin người gửi</th>
				<th scope="col">Địa điểm</th>
				<th scope="col">Phân loại</th>
				<th scope="col">Tình trạng</th>
				<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{{#each baocaos}}
				<tr>
					<th scope="row">{{inc @index}}</th>
					<td>{{showDate createdAt}}</td>
					<td>
						<i class="bi bi-person-fill"></i>   {{HoTen}}
						<br>
						<i class="bi bi-envelope-fill"></i>   {{Email}}
						<br>
						<i class="bi bi-telephone-fill"></i>   {{DienThoai}}
					</td>
					<td>
						{{#if (isDefined laDiemDat)}}
							{{#if laDiemDat}}<p class="fw-bold m-0 p-0">Điểm đặt: <small class="text-muted">{{DiemDat.DiaChi}}</small></p>
							{{else}}
							<p class="fw-bold m-0 p-0">Điểm đặt: <small class="text-muted">{{DiemDat.DiaChi}}</small></p>
							<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">{{this.BangQuangCao.LoaiBangQuangCao.Ten}} {{BangQuangCao.KichThuoc}}</small></p>
							{{/if}}
							{{else}}<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">{{DiaChi}}</small></p>
						{{/if}}
					</td>
					<td><span class="badge rounded-pill 
					{{#eq HinhThucBaoCaoId 1}} bg-danger
					{{/eq}}
					{{#eq HinhThucBaoCaoId 2}} bg-info
					{{/eq}}
					{{#eq HinhThucBaoCaoId 3}} bg-primary
					{{/eq}}
					{{#eq HinhThucBaoCaoId 4}} bg-warning
					{{/eq}}">{{HinhThucBaoCao.Ten}}</span></td>
					<td>{{#if XuLy}}<span class="badge text-bg-success">Đã xử lý</span>
					{{else}}<span class="badge text-bg-secondary">Đang xử lý</span>
					{{/if}}</td>
					<td>
						<i role="button" class="bi bi-info-circle-fill me-3" data-bs-toggle="modal"
							data-bs-target="#chitietbaocao" onclick="showchitietbaocao(this)" 
							data-id="{{id}}" data-noidung="{{NoiDung}}"></i>
						{{#unless XuLy}}
						<i role="button" class="bi bi-pen-fill update-btn" data-bs-toggle="modal"
							data-bs-target="#cachthucxuly" onclick="showcachthuc(this)" data-id="{{id}}" data-email="{{Email}}"></i> 
						{{/unless}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

</div>
<!--Modal chi tiết báo cáo-->
<div class="modal fade" id="chitietbaocao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết báo cáo</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<!--<div class="row">
					<p class="fw-bold m-0">Hình ảnh minh họa</p>
					<div id="carouselExample" class="carousel slide">
						<div class="carousel-inner">
						  <div class="carousel-item active">
							<img src="/img/1.png" class="d-block" style="width:100%; height: 250px;" alt="...">
						  </div>
						  <div class="carousel-item">
							<img src="/img/2.png" class="d-block" style="width:100%; height: 250px;" alt="...">
						  </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					  </div>
				</div>
				-->
				<div class="row mt-2">
					<p class="fw-bold m-0">Nội dung báo cáo</p>
					<div class="overflow-auto" id="shownoidung">
						
					</div>
				</div>
			</div>
  		</div>
		<div class="modal-footer">
			<input type="hidden" name="id" id="id" value="" />
		</div>
	  </div>
    </div>
</div>
<!--Modal cách thức xử lý-->
<div class="modal fade" id="cachthucxuly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form action="" id="updateBaoCaoForm" onsubmit="updateBaoCao(event)">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật cách thức xử lý</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<p class="fw-bold m-0">Cách thức xử lý</p>
							<div>
								<textarea class="form-control" name="cachthuc" id="" style="height: 100px" placeholder="Cập nhật cách thức xử lý"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer mt-2">
					<input type="hidden" name="id" id="updid" value="" />
					<input type="hidden" name="email" id="updemail" value=""/>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Cập nhật</button>
				</div>
			</div>
		</form>
    </div>
</div>
<script>
	function showchitietbaocao(btn){
		document.querySelector("#id").value = btn.dataset.id;
		document.querySelector("#shownoidung").innerHTML = `${btn.dataset.noidung}`;
	}

	function showcachthuc(btn){
		document.querySelector("#updid").value = btn.dataset.id;
		document.querySelector("#updemail").value = btn.dataset.email;
	}
	async function updateBaoCao(e) {
		e.preventDefault();
  
		const formData = new FormData(document.getElementById("updateBaoCaoForm"));
		let data = Object.fromEntries(formData.entries());
  
		let res = await fetch("/canbo/xlbaocao", {
	  		method: 'PUT',
	  		headers:{
				"Content-Type":"application/json",
	 	 	},
	  		body: JSON.stringify(data),
		});
  
		location.reload();
  }
  
    const chBoxes = document.querySelectorAll('.dropdown-menu input[type="checkbox"]'); 
    const dpBtn = document.getElementById('multiSelectDropdown'); 
    let mySelectedListItems = [];
  
    function handleCB() { 
        mySelectedListItems = []; 
        let mySelectedListItemsText = ''; 
  
        chBoxes.forEach((checkbox) => { 
            if (checkbox.checked) { 
                mySelectedListItems.push(checkbox.value); 
                let labelText = checkbox.parentNode.textContent.trim();
            	mySelectedListItemsText += labelText + ', '; 
            } 
        }); 
  
		if (mySelectedListItems.length > 3) {
			dpBtn.innerText = 'Đã chọn (' + mySelectedListItems.length + ')';
		} else {
			dpBtn.innerText = 
			mySelectedListItems.length > 0 
			? mySelectedListItemsText.slice(0, -2) : 'Chọn Phường'; 
		} 
	} 
  
	chBoxes.forEach((checkbox) => { 
		checkbox.addEventListener('change', handleCB); 
	}); 
	handleCB();
	
</script>